
body > div > main {
	margin: 0px;
	padding: 0px;
	flex: 1 1 50%;
	max-width: 50%;
	color: var(--main-color);
	background: var(--main-background);
	text-align: left;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 19;
}

body > div > main > iframe {
	position: relative;
	width: 100%;
	height: 100%;
	border: none;
	color: #000000;
	background: #ffffff;
}

