
@font-face {
	font-family: 'cantarell';
	src: url("./cantarell-regular.woff2") format("woff2"), url("./cantarell-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'cantarell';
	src: url("./cantarell-bold.woff2") format("woff2"), url("./cantarell-bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'cantarell';
	src: url("./cantarell-bold-italic.woff2") format("woff2"), url("./cantarell-bold-italic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'cantarell';
	src: url("./cantarell-italic.woff2") format("woff2"), url("./cantarell-italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'crumble';
	src: url('./crumble-regular.woff2') format('woff2'), url('./crumble-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'crumble';
	src: url('./crumble-bold.woff2') format('woff2'), url('./crumble-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'vera-mono';
	src: url("./vera-mono.woff2") format("woff2"), url("./vera-mono.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icon';
	src: url("./icon.woff2") format("woff2"), url("./icon.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
