
@import url("./components/button.css");
@import url("./components/checkbox.css");
@import url("./components/input.css");
@import url("./components/label.css");
@import url("./components/number.css");
@import url("./components/range.css");
@import url("./components/select.css");
@import url("./components/textarea.css");

@import url("./layout/index.css");

@import url("./webfonts/index.css");
@import url("./palette.css");
@import url("./scrollbar.css");

