
:root {
	--scrollbar-size: 10px;
}

@supports (scrollbar-color: auto) and (not (-webkit-appearance: none)) {

	* {
		scrollbar-width: auto;
		scrollbar-color: var(--palette-1-color) transparent;
	}

}

*::-webkit-scrollbar {
	width: var(--scrollbar-size);
	height: var(--scrollbar-size);
}

*::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 0px;
}

*::--webkit-scrollbar-track:hover {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: var(--input-focus-background);
	border-radius: 8px;
	border: 1px solid transparent;
	transition: all 250ms ease;
	cursor: grab;
}

*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:active {
	background: var(--input-focus-border);
}
